node_modules/
.DS_Store
haters

readme-start.md

*START.html
*START.css
*FINISHED.html
*FINISHED.css

02 - Starter Files and Tooling/*
03 - CSS Grid Fundamentals/*
04 - CSS Grid Dev Tools/*
05 - CSS Grid Implicit vs Explicit Tracks/*
06 - CSS grid-auto-flow Explained/*
07 - Sizing tracks in CSS Grid/*
08 - CSS Grid repeat function/*
09 - Sizing Grid Items/*
10 - Placing Grid Items/*
12 - auto-fit and auto-fill/*
13 - Using minmax() for Responsive Grids/*
14 - Grid Template Areas/*
15 - Naming Lines in CSS Grid/*
16 - grid-auto-flow dense Block Fitting/*
17 - CSS Grid Alignment + Centering/*
18 - Re-ordering Grid Items/*
21 - Flexbox vs CSS Grid/*